/* reset */
body{
    margin: 0px;
}

img{
    max-width: 20%;
    margin: 0px;
    padding: 0px;
}

.page-header{
    background-color: #ececed;
    text-align: center;
    padding-bottom: 15px;
}

/* header */
.pattern{
    background-color: aqua;
    width: 335px;
    height: auto;
    
}

.sottoimmagine{
    background-color: aqua;
    width: 400px;
    height: auto;
    position: absolute;
    z-index: 1;
}

.logo{
    width: 60px;
    height: 20px;
}

/* main */

.container{
    width: 421.9px;
    height: auto;
}
