/* reset */
body {
  margin: 0;
}

img {
  max-width: 12%;
  padding: 16px;
  margin-left: -23px;
}

.page-header {
  background-image: url(../img/pattern.png);
  background-color: #5064d6;
  background-size: 25%;
  text-align: center;
  padding-bottom: 15px;
  background-position-y: 185px;
  background-position-x: 75px;
  height: 80px;
}

/* header */

.logo {
  height: 50px;
  margin-top: 20px;
}

/* main */

.container {
  display: flex;
  padding-left: 15px;
  padding-right: 15px;
}

.main-title {
  font-size: 35px;
  /* margin-left: 12px; */
  margin-top: 0px;
}

.container1 {
  display: flex;
  vertical-align: auto;
  margin-left: 12px;
}

.credits {
  margin-top: -51px;
  color: gray;
  align-items: baseline;
  display: flex;
}

.author {
  color: #5064d6e8;
  margin-left: 3px;
}

.date {
  color: gray;
  margin-top: -15px;
  font-size: 12px;
}

.figure {
  width: 1285px;
  height: 400px;
}

.img1 {
}
